html {
    height: 100%;
    width: 100%;
    background: url(../img/mnt.jpg);
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main {
    width: 90%;
    height: 90%;
    background: rgba(243, 243, 243, 0.623);
    box-shadow: 0px 3px 10px 0px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

p {
    font-family: 'Courgette', cursive;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.area {
    margin: 0px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.result-area {
    grid-template-rows: 1fr;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    font-family: 'Courgette', cursive;
    font-size: 22px;
    display: flex;
    margin: 5px 0;
}

.delete-btn {
    width: 20px;
    height: 20px;
    padding-right: 10px;
    padding-top: 5px;
}

.delete-btn:hover {
    transform: scale(1.2);
}

input {
    font-family: 'Courgette', cursive;
    margin: 0 20px 0px 0px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(218, 218, 218);
    padding: 2px 10px;
}



.add-word {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px 20px 0px 0px;
    height: 30px;
    border: 1px solid rgb(218, 218, 218);
    outline: none;
    border-radius: 10px;
    background: rgb(233, 233, 233);
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Courgette', cursive;
}

.add-word:hover {
    background: rgb(209, 209, 209);
}


@media screen and (max-width: 768px){
    .area {
        margin: 0px 50px;
        display: flex;
        flex-direction: column;
    }
    .text-english{
        order: 1;
        margin: 5px 0px;
    }
    .text-polish{
        order: 3;
        margin: 5px 0px;
    }    
    .word-english{
        order: 2;
    }
    .word-polish{
        order: 4;
    }
    .add-word{
        order: 5;
        margin: 0;
    }

    input {
        border-radius: 10px;
        outline: none;
        border: 1px solid rgb(218, 218, 218);
        padding: 7px 10px;
        margin: 10px 0;
    }

    .result-area{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 50px;
    }
}


@media screen and (max-width: 1080px){
    .main{
        height: 50%;
    }
}
